@import "tailwindcss";

@layer base {
    body {
        background-color: #0d0e12;
        color: white;
    }

    /* Hide native date/time picker icons to use our custom Lucide icons */
    input::-webkit-calendar-picker-indicator {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        right: 10px;
        width: 20px;
        height: 20px;
    }
}